.x-large {
	font-size: 4rem;
	line-height: 1.2;
	margin-bottom: 1rem;
}

.large {
	font-size: 3rem;
	line-height: 1.2;
	margin-bottom: 1rem;
	;
}

.lead {
	font-size: 1.5rem;
	margin-bottom: 1rem;
}

// Row and column

.row {
	display: flex;
	flex-wrap: wrap;
	.col {
		flex-grow: 1;
	}
}

// Background
.bg {
	&-primary {
		@include set-background($primary-color);
	}

	&-light {
		@include set-background($light-color);
		border: #ccc 1px solid;
	}

	&-dark {
		@include set-background($dark-color);
	}

	&-success {
		@include set-background($success-color);
	}

	&-danger {
		@include set-background($danger-color);
	}

	&-white {
		@include set-background(#fff);
		border: #ccc 1px solid;
	}
}

// Button
a.btn{
	text-decoration: none;
}
.btn {
	display: inline-block;
	padding: 0.5rem 1rem;
	margin: 0.2rem;
	border: none;
	outline: none;
	cursor: pointer;
	transition: all 0.3s ease-in;
	width: fit-content;
	border-radius: 3px;
	&:disabled{
		cursor:not-allowed;
		@include set-background(rgba(219, 214, 214, 0.212));
	}
	&:hover{
		filter:contrast(140%);
	}
	&-primary {
		@include set-background($primary-color);
		border-color: $primary-color;
	}

	&-dark {
		@include set-background($dark-color)
	}

	&-light {
		@include set-background($light-color)
	}

	&-success {
		@include set-background($success-color)
	}

	&-danger {
		@include set-background($danger-color)
	}
	&-white {
		@include set-background($danger-color)
	}
}
.message {
	display: inline-block;
	padding: 0.5rem 1rem;
	margin:0.3rem;
	border: none;
	outline: none;
	cursor: none;
	transition: all 0.3s ease-in;
	width: 100%;
	border-radius: 3px;
	&:hover{
		filter:contrast(140%);
	}
	&-primary {
		@include set-background($primary-color);
		border-color: $primary-color;
	}

	&-dark {
		@include set-background($dark-color)
	}

	&-light {
		@include set-background($light-color)
	}
	&-info {
		@include set-background($light-color)
	}

	&-success {
		@include set-background($success-color)
	}

	&-danger {
		@include set-background($danger-color)
	}

	&-white {
		@include set-background($danger-color)
	}


}

// Text Color
.text {
	&-primary {
		color: $primary-color;
	}

	&-dark {
		color: $dark-color;
	}

	&-light {
		color: $light-color;
	}

	&-success {
		color: $success-color;
	}

	&-danger {
		color: $danger-color;
	}

	&-white {
		color: $white-color;
	}

	&-default {
		color: $body-color;
	}
}

// Badges
.badge{
    font-size: 0.8rem;
    padding:0.1rem 0.3rem;
    text-align: center;
    margin:0.3rem;
	background: $light-color;
	color:#333;
	border-radius: 0.3rem;
    &.badge-primary{
        @include set-background($primary-color);
    }
    &.badge-dark{
        @include set-background($dark-color);
    }
    &.badge-success{
        @include set-background($success-color);
    }
    &.badge-danger{
        @include set-background($danger-color);
    }
    &.badge-white{
        @include set-background(#fff);
    }
}

.card {
	color: lighten($color: black, $amount: 10%);
	background: darken($color: white, $amount: 5%);
	border: none;
	border-radius:3px;
	outline: none;
	box-shadow: 3px 3px 10px rgba(51, 51, 51, 0.2);
	width: 300px;
	overflow: hidden;
}
